@using System.Drawing
@model DataObjects.DTOProdotto


    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@if(Model == null)
            {<text>Nuovo Prodotto</text>}
        else
        
            {<text>Modifica Prodotto</text>}
            
        </h4>
        <hr />
       
        <div class="form-group">
          <br>Descrizione<br/>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Descrizione, new { id ="Descrzione"} )
                @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <br>Descrizione Breve<br />
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DescrizioneBreve , new {id ="DescrizioneBreve"}) 
                @Html.ValidationMessageFor(model => model.DescrizioneBreve, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button onclick="Undo()">Annulla</button>
                <button onclick="Save()">Salva</button>

            </div>
        </div>

    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>



</script>